/* ----------Custom Properties---------- */
:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Pompiere', cursive;
    --max-width: 1200px;
    --header-height: 4rem;
}

/* ----------Reset---------- */
/* https://www.youtube.com/watch?v=bXqPNoYFK8w */
html {
    box-sizing: border-box; 
    /* El tama침o de la caja ir치 desde el borde no desde el contenido */
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth; 
    /* Para el efecto de transici칩n que hay en el header, solo con css */
}
*,
*::after,
*::before {
    box-sizing: inherit;
  /* Que hereden el tama침o de caja, es decir del html */
}
body {
    margin: 0;
    overflow-x: hidden;
    /* Con lo que desborda el contenedor, en x(horizontal) que oculte y evita la barra de desplazamiento */
    color: var(--text-color);
}
a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}
a:hover {
    opacity: 0.75;
}
h1 {
    margin: 0;
    font-size: 2rem;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
}
h3 {
    margin: 0;
    font-size: 1.25rem;
}
h4 {
    margin: 0;
    font-size: 1rem;
}
h5 {
    margin: 0;
    font-size: 0.85rem;
}
h6 {
    margin: 0;
    font-size: 0.7rem;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    /* Espacio interlineado */
    line-height: 1.6;
}

/* ----------Components---------- */

/* ----------Utilities---------- */
.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

/* ----------Site Styles---------- */

