/* Mobile - 320px */
body {
    background-color: var(--color-dark-grey);
    color: var(--color-pink);
    font-family: var(--font-pompiere);
} 

img.photoBackground {
    position: relative;
    height: 200px;    
    max-height: 700px;
}

body main {
    margin-bottom: 20px;
}

/* container photo and name */
div.header-container .profile {
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
    padding-top: 20px;
} 

div.header-container .profile img {
    width: 80px;
    height: 80px;
}

div.header-container .profile h1 {
    text-shadow: 2.8px 3px var(--color-dark-grey);
    font-size: 28px;
    font-weight: 600;
}

/* 1er section - sobre mi */
body main .section-container p {
    font-size: 18px;
    margin-bottom: 5px;
}

body main .section-container img.sobreMi {
    width: 170px;
    height: 170px;
}

/* secciones general*/
body main .section-container {
    text-align: center;
    padding: 0 15px;
}

body main .section-container h2.subtitles {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
}
/* end secciones general*/

/* Logos-habilidades */
body main section.habilidades {
    width: 300px;
    margin: auto;
}

body main .section-container img.logo-habilidades {
    width: 75px;
    height: 75px;
    margin: 5px;
}

/* section proyects */
body main .section-container .proyect-container p {
    margin: 15px 0;
    font-size: 18px;
}

body main .section-container .proyect-container a.code {
    font-size: 28px;
    color: var(--color-pink);
    cursor: pointer;
}

body main .section-container hr.line {
    margin: 30px auto;
    width: 80%;
    display: flex;
}

/* section contact */
body main .section-container a img.contact {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}


/* MEDIA QUERY - 425px */
@media(min-width: 425px) {

    img.photoBackground { 
        height: 240px; 
    } 

    body div.header-container .profile {
        padding-top: 40px;  
    }

    body main .section-container {
        padding: 0 30px; 
    }

    body main .section-container p { /* p : sobre mi */
        font-size: 20px;
        margin-bottom: 15px;
    }

    body main .section-container h2.subtitles {
        margin: 30px 0;
    }

    body main section.habilidades {
        width: 100%;
        max-width: 880px;
    }

    body main .section-container img.logo-habilidades {
        width: 100px;
        height: 100px;
    } 

    body main .section-container .proyect-container a img {
        max-width: 80%;
    }

    body main .section-container .proyect-container p {
        font-size: 20px;  /* p : description de los proyectos */
    } 

} 


/* MEDIA QUERY - 550px */
@media(min-width: 550px) {
    
    img.photoBackground {
        height: 300px;    
    }

    div.header-container .profile img {
        width: 120px;
        height: 120px;
    }

    body div.header-container .profile {
        padding-top: 50px;  
    }

}


/* MEDIA QUERY - 768px */
@media(min-width: 768px) {

    div.header-container .profile {
        display: flex;
        justify-content: space-around; 
    } 
 
    div.header-container .profile img {
        width: 150px;
        height: 150px;
    }
 
    div.header-container .profile h1 {
        text-shadow: 2.8px 4px var(--color-dark-grey);
        font-size: 40px;
        /* font-weight: 600; */
        display: flex;
        align-items: center;
    }

    body main .section-container img.logo-habilidades {
        margin: 10px;
    }

    body main .containerSobreMi div {
        display: flex;
        justify-content: space-around;
    }

    body main .containerSobreMi p {
        width: 300px;
        display: flex;
        align-items: center;
    }

    body main .containerSobreMi img.sobreMi{
        width: 210px;
        height: 210px;
    }

}