/* Mobile - 320px */
body {
    background-color: var(--color-dark-grey);
    color: var(--color-pink);
    font-family: var(--font-pompiere);
} 

body main {
    margin-bottom: 20px;
}

img.photoBackground {
    position: relative;
    max-height: 700px;
}

/* container of header */
div.header-container {
    position: absolute;
    width: 100%;
    top: 0;
}

.header-container header {
    background-color: var(--color-lavender-blue);
    /* filter: blur(6px); */
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 5px;
    height: 50px;
}

header div.logo {
    width: 40px;
    height: 40px;
}

/* icon hamburger and nav - mobile */
header i.fas {
    font-size: 20px;
    margin: 10px 10px 0 0;
}

header nav.dropMenu {
    background-color: var(--color-dark-grey);
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    display: none;
}

nav.dropMenu ul a {
    text-decoration-line: none;
    color: var(--color-pink);
}

nav.dropMenu ul a li {
    list-style-type: none;
    text-align: center;
    background-color: brown;
    padding: 7px 7px;
}

/* container photo and name */
div.header-container .profile {
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
    padding-top: 5px;
} 

div.header-container .profile img {
    width: 80px;
    height: 80px;
}

div.header-container .profile h1 {
    text-shadow: 2.8px 3px var(--color-dark-grey);
    font-size: 28px;
    font-weight: 600;
}

/* 1er section - sobre mi */
body main .section-container p {
    font-size: 18px;
    margin-bottom: 5px;
}

body main .section-container img.sobreMi {
    width: 170px;
    height: 170px;
}

/* secciones general*/
body main .section-container {
    text-align: center;
    padding: 0 15px;
}

body main .section-container h2.subtitles {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
}
/* end secciones general*/

/* Logos-habilidades */
body main .section-container img.logo-habilidades {
    width: 75px;
    height: 75px;
    margin: 5px;
}

/* section proyects */
body main .section-container .proyect-container p {
    margin: 15px 0;
    font-size: 18px;
}

body main .section-container .proyect-container a.code {
    font-size: 28px;
    color: var(--color-pink);
    cursor: pointer;
}

body main .section-container hr.line {
    margin: 30px auto;
    width: 80%;
    display: flex;
}

/* section contact */
body main .section-container a img.contact {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

/* footer */
body footer {
    background-color: var(--color-lavender-blue);
    height: 150px;
    padding: 0 10px;
}

body footer p {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 18px;
}

body footer img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}