<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <!-- icons -->
    <link 
        rel="stylesheet" 
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous" 
    />
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <img class="photoBackground" src="./img/background.jpg" alt="Imagen" width="100%"> 

    <div class="header-container">

        <header id="header-id" class="filter">

            <div class="logo">
                <img src="./img/logo.png" alt="Logo" width="100%">
            </div>
            
            <!-- icon hamburger and nav - mobile -->
            <i class="fas fa-bars" onclick="dropMenu()"></i>
            <nav class="dropMenu" id="navigation-burguer-menu">
                <ul>
                    <a href="#sobre-mi"><li>Sobre mi</li></a><hr>
                    <a href="#habilidades"><li>Habilidades</li></a><hr>
                    <a href="#proyectos"><li>Proyectos</li></a><hr>
                    <a href="#contacto"><li>Contacto</li></a>
                </ul>
            </nav>
    
        </header>
    
        <div class="profile">
            <img src="./img/logo.png" alt="Foto de perfil" width="100%">
            <h1>Hola! Soy Daniela  Calisaya</h1>
        </div>

    </div>

    <main>       
        <section class="section-container">

            <h2 class="subtitles" id="sobre-mi">Sobre mi</h2>
            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Voluptatem, dolores recusandae dicta aliquam, eius reiciendis provident ut vel, 
                cum at ab laborum mollitia tempora. Facere labore laborum deserunt ipsam voluptas.
            </p>
            <img class="sobreMi" src="./img/sobreMi.png" alt="Sobre mi" width="100%">

        </section>

        <section class="section-container">

            <h2 class="subtitles" id="habilidades">Habilidades</h2>

            <img src="./img/html.png" class="logo-habilidades" alt="HTML" width="100%">
            <img src="./img/css.png" class="logo-habilidades" alt="Css" width="100%">
            <img src="./img/javascript.png" class="logo-habilidades" alt="Javascript" width="100%">
            <img src="./img/nodeJs.png" class="logo-habilidades" alt="Node Js" width="100%">
            <img src="./img/express.png" class="logo-habilidades" alt="Express" width="100%">
            <img src="./img/mySql.png" class="logo-habilidades" alt="My SQL" width="100%">
            <img src="./img/git.png" class="logo-habilidades" alt="Git" width="100%">
            <img src="./img/gitHub.png" class="logo-habilidades" alt="Git Hub" width="100%">
            <img src="./img/react.png" class="logo-habilidades" alt="React" width="100%">
            <img src="./img/canva.png" class="logo-habilidades" alt="Canva" width="100%">
            <img src="./img/figma.png" class="logo-habilidades" alt="Figma" width="100%">
            <img src="./img/slack.png" class="logo-habilidades" alt="Slack" width="100%">
            <img src="./img/trello.png" class="logo-habilidades" alt="Trello" width="100%">

        </section>

        <section class="section-container">

            <h2 class="subtitles" id="proyectos">Proyectos</h2>

            <div class="proyect-container">
                <a href="https://mg-integratedproyect.herokuapp.com/"><img src="./img/proyect-mundoGamer.png" alt="Mundo Gamer" width="100%"></a>
                <p> Mundo Gamer - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
                <a class="code" href="https://github.com/Damian-Bogarin/MundoGamer_C12_Grupo8"><i class="fas fa-code"></i></a>
            </div>
            <hr class="line">

            <div class="proyect-container">
                <a href=""><img src="./img/proyect-todoList.png" alt="Todo List" width="100%"></a>
                <p> Todo List - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
                <a class="code" href="https://github.com/DanielaCalisaya/app-tareas"><i class="fas fa-code"></i></a>
            </div>
            <hr class="line">

            <div class="proyect-container">
                <a href="https://rio-carcarana.herokuapp.com/"><img src="./img/proyect-rioCarcarana.png" alt="Rio Carcarañá" width="100%"></a>
                <p> Rio Carcarañá - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
                <a class="code" href="https://github.com/JuliaFabris/Rio-carcarana"><i class="fas fa-code"></i></a>
            </div>
            <hr class="line">

            <div class="proyect-container">
                <a href="https://crud-mercado-liebre.herokuapp.com/"><img src="./img/proyect-mercadoLiebre.png" alt="Mercado Liebre" width="100%"></a>
                <p> Mercado Liebre - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
                <a class="code" href="https://github.com/DanielaCalisaya/CRUD-Mercado-Liebre"><i class="fas fa-code"></i></a>
            </div>
            <hr class="line">

            <div class="proyect-container">
                <a href="https://vistas-dinamicas.herokuapp.com/"><img src="./img/proyect-pimientaYsal.png" alt="Pimienta y Sal" width="100%"></a>
                <p> Pimienta y Sal - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
                <a class="code" href="https://github.com/DanielaCalisaya/VistasDinamicas-EJS"><i class="fas fa-code"></i></a>
            </div>
            <hr class="line">

        </section>

        <section class="section-container">

            <h2 class="subtitles" id="contacto">Contacto</h2>

            <a href="https://wa.me/5492996555715" target="_blank"><img class="contact" src="./img/whatsapp-contacto.png" alt="WhatsApp" width="100%"></a>
            <a href="mailto:hdaniela127c@gmail.com" target="_blank"><img class="contact" src="./img/email-contacto.png" alt="Email" width="100%"></a>
            <a href="https://www.linkedin.com/in/daniela-calisaya/" target="_blank"><img class="contact" src="./img/linkedin-contacto.png" alt="Linkedin" width="100%"></a>
            <a href="https://github.com/DanielaCalisaya" target="_blank"><img class="contact" src="./img/github-contacto.png" alt="Git Hub" width="100%"></a> 
        
        </section>

    </main>
    
    <footer>
        <p>
            <img src="./img/gifPortfolio.gif" alt="Laptop" width="100%">
            Desarrollado y diseñado por Daniela Calisaya 2022 Todos los derechos reservados
        </p> 
    </footer>

    <script src="./js/header.js" defer></script>

</body>
</html>