<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio ♥</title>
    <link 
        rel="stylesheet" 
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous" 
    />
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <img class="photoBackground" src="./img/background.jpg" alt="Imagen" width="100%">

    <div class="header-container">

        <header>

            <div class="logo">
                <img src="" alt="Logo">
            </div>
            
            <i class="fas fa-bars"></i>

            <nav>
                <ul>
                    <li><a href="#sobre-mi">Sobre mi</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
    
        </header>
    
        <div>
            <img src="" alt="Foto de perfil">
            <h1>Helen Daniela Calisaya</h1>
        </div>

    </div>

    <main>       
        <section>

            <h2 id="sobre-mi">Sobre mi</h2>

            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Voluptatem, dolores recusandae dicta aliquam, eius reiciendis provident ut vel, 
                cum at ab laborum mollitia tempora. Facere labore laborum deserunt ipsam voluptas.
            </p>

        </section>

        <section>

            <h2 id="habilidades">Habilidades</h2>

            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">

        </section>

        <section>

            <h2 id="proyectos">Proyectos</h2>

            <div>
                <img src="" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
            </div>

            <div>
                <img src="" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
            </div>

            <div>
                <img src="" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
            </div>

            <div>
                <img src="" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora aliquid qui ab eum, facilis inventore, 
                    deleniti minima consectetur explicabo dolores sunt quod neque, 
                    rem laboriosam assumenda quisquam labore optio quis.
                </p>
            </div>

        </section>

        <section>

            <h2 id="contacto">Contacto</h2>

            <a href="">E-mail</a>
            <a href="">Linkedin</a>
            <a href="">Git Hub</a>

        </section>

    </main>
    
    <footer>
        Desarrollado y diseñado por Daniela Calisaya 2022 Todos los derechos reservados
    </footer>

</body>
</html>