<header id="header-id" class="filter">

    <div class="logo">
        <img src="./img/logo.png" alt="Logo" width="100%">
    </div>

    <!-- icon hamburger and nav - mobile -->
    <i class="fas fa-bars" onclick="dropMenu()"></i>
    <nav class="dropMenu" id="navigation-burguer-menu">
        <ul>
            <a href="#sobre-mi"><li>Sobre mi</li></a><hr>
            <a href="#habilidades"><li>Habilidades</li></a><hr>
            <a href="#proyectos"><li>Proyectos</li></a><hr>
            <a href="#contacto"><li>Contacto</li></a>
        </ul>
    </nav>

    <!-- Barra de navegación a partir de 768px -->
    <nav class="dropMenuTablet">
        <ul>
            <a href="#sobre-mi"><li>Sobre mi</li></a><hr>
            <a href="#habilidades"><li>Habilidades</li></a><hr>
            <a href="#proyectos"><li>Proyectos</li></a><hr>
            <a href="#contacto"><li>Contacto</li></a>
        </ul>
    </nav>

</header>